@model IEnumerable<ShovitBastakoti.Models.Performance>

@{
    ViewData["Title"] = "Performance";
}

<h1>Performance</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinutesPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
